Flask==1.0
Flask-Migrate==2.1.0
Flask-SQLAlchemy==2.2
Flask-Script==2.0.5
Flask-RESTful==0.3.8
flask-cors==3.0.3
psycopg2==2.7.3
PyJWT==1.5.2
requests==2.27.1
uWSGI==2.0.15
python-twitch-client==0.7.1
