.DS_Store

__pycache__/
*.py[cod]

/.idea/
/.vscode/

/settings.env
/docker-compose.nesswit-server.yml
/docker-compose.nesswit-server-dev.yml
/frontend/node_modules/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/node_modules.tar
/backend/penv/
/backend/flask/app/templates/
/log/
Open Dccon Selector.json
