.DS_Store
source/node_modules/
source/npm-debug.log*
source/yarn-debug.log*
source/yarn-error.log*
.idea/
/settings.env
/backend/penv/
/docker-compose.nesswit-server.yml
/docker-compose.dev.nesswit-server-dev.yml
