.app {
  min-height: 100%;
  font-family: 'Nanum Barun Gothic', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: transparent !important;
}
